<h1 style="text-align:center">{{ title|uppercase }}</h1>
<br>
<hr>
<h1>Json Response</h1>
<h4>{{ jsonValue|json|uppercase }}</h4>
<br>
<hr>
<div class="container bg-dark">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary col-sm-5 text-center" style="margin: 10px"
      (click)="showSuccess()">Success </button>
    <button type="button" class="btn btn-warning col-sm-5 text-center" style="margin: 10px"
      (click)="showToasterError()">Error </button>
    <button type="button" class="btn btn-warning col-sm-5 text-center" style="margin: 10px"
      (click)="showToasterInfo()">Info </button>
    <button type="button" class="btn btn-primary col-sm-5 text-center" style="margin: 10px"
      (click)="showToasterWarning()">Warning </button>
      <button type="button" class="btn btn-primary col-sm-5 text-center" style="margin: 10px"
      (click)="HandleUrl()">Fake API</button>
</div>
  <lib-ng-toast></lib-ng-toast>
</div>
<br>
<hr>
<div class="container" style="margin-top:20px">
  <h1>Data Binding Component </h1>
  <app-data-binding></app-data-binding>
</div>
<br>
<hr>
<div class="container">
  <h1>User Component</h1>

  <app-user [user]="userObject"></app-user>
</div>